/* HEADER */

.header-content {
		z-index: 2;
	background-color: #000;
	background-color: var( --primary-color);
	background: -moz-linear-gradient(left, var( --secondary-color) 0%, var( --secondary-color-light) 33%, var( --secondary-color-light) 66%, var( --secondary-color) 100%);
	height: var( --height-header);
	border: 1px solid transparent;	
}

.header-content .logo {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

.header-content .logo img {
	height: var( --sizelogo);
	width: var( --sizelogo);
}

.header-content nav {
    width: var( --width-main-content);
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.header-content nav ul {
	padding: 0px;

	margin-left: auto;
	margin-right: auto;
}

.header-content nav ul .active a{
	border: none;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
	color: #fff;

}

.header-content nav ul li{
	display: inline;
	margin-right: 20px;
}

.header-content nav ul li a {
	text-decoration: none;
	font-size: 1.8em;
	color: #fff;
	border-radius: 5px;
	padding: 0.3em;
	border: 2px solid transparent;
}

.header-content nav ul li a:hover {
	border-color: rgba(255,255,255,0.2);
	box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}


