.info-image {
  width: 300px;
  height: 150px;
  margin: 5px 20px 5px 5px;
  float: left;
}

.info-img01 {
  background: url('../img/info/allgemein.jpg') center no-repeat;
  background-size: 290px;
  border: solid 1px var(--primary-color);
  padding: 60px 5px 5px 5px;
}

.info-img02 {
  background: url('../img/info/ablauf.jpg') center no-repeat;
  background-size: 290px;
  border: solid 1px var(--primary-color);
  padding: 60px 5px 5px 5px;
}

.info-img03 {
  background: url('../img/info/camping.jpg') center no-repeat;
  background-size: 290px;
  border: solid 1px var(--primary-color);
  padding: 60px 5px 5px 5px;
}

.info-img04 {
  background: url('../img/info/sicherheit.jpg') center no-repeat;
  background-size: 290px;
  border: solid 1px var(--primary-color);
  padding: 60px 5px 5px 5px;
}

.info-text {
  padding-top: 5px;
  margin-left: 5px;

}

.clear{
  clear: both;
}

